<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': name.invalid && name.touched }"
      >
        <label class="control-label" for="category-name"
          >Введите название</label
        >
        <input
          type="text"
          id="category-name"
          class="form-control"
          required
          #name="ngModel"
          name="name"
          ngModel
        />
        <span *ngIf="name.invalid && name.touched" class="form-help-text"
          >Название категории не может быть пустым.</span
        >
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': capacity.invalid && capacity.touched }"
      >
        <label class="control-label" for="category-value">Введите лимит</label>
        <input
          type="number"
          id="category-value"
          class="form-control"
          [ngModel]="1"
          name="capacity"
          #capacity="ngModel"
          required
          min="1"
        />
        <span
          *ngIf="capacity.invalid && capacity.touched"
          class="form-help-text"
          >Поле не может быть пустым</span
        >
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Добавить
      </button>
    </form>
  </div>
</div>
